<div th:fragment="chatbot">


<button id="chatButton"
        class="chat-button">

    💬

</button>



<div id="chatBox"
     class="chat-box">


    <div class="chat-header">

        ✈ MAUPIN Assistant

        <span id="closeChat">
            ×
        </span>

    </div>


    <div class="chat-body">


        <p>
            Hello! 👋<br>
            Welcome to MAUPIN Airline Ticket System.
            <br>
            How can I assist you?
        </p>


        <div class="chat-options"
             id="chatOptions">

        </div>


    </div>


</div>


</div>