<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Add Admin</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
rel="stylesheet">

</head>

<body>

<div th:replace="~{fragments/header :: header}"></div>


<div class="container mt-5">

<h2>Add New Admin</h2>


<form th:action="@{/airline/admin/add-admin}"
      th:object="${user}"
      method="post">


<div class="mb-3">
<label>First Name</label>
<input class="form-control"
       th:field="*{firstName}"
       required>

<div class="text-danger small"
     th:if="${#fields.hasErrors('firstName')}"
     th:errors="*{firstName}">
</div>
</div>


<div class="mb-3">
<label>Last Name</label>
<input class="form-control"
       th:field="*{lastName}"
       required>

<div class="text-danger small"
     th:if="${#fields.hasErrors('lastName')}"
     th:errors="*{lastName}">
</div>
</div>


<div class="mb-3">
<label>Passport</label>
<input class="form-control" th:field="*{passport}" required>
</div>


<div class="mb-3">
<label>Date of Birth</label>
<input type="date"
       class="form-control"
       th:field="*{dob}"
       th:attr="max=${#dates.format(#dates.createNow(),'yyyy-MM-dd')}"
       required>

<div class="text-danger small"
     th:if="${#fields.hasErrors('dob')}"
     th:errors="*{dob}">
</div>
</div>


<div class="mb-3">
<label>Email</label>
<input type="email"
       class="form-control"
       th:field="*{email}"
       required>

<div class="text-danger small"
     th:if="${#fields.hasErrors('email')}"
     th:errors="*{email}">
</div>
</div>


<div class="mb-3">
<label>Phone Number</label>
<input class="form-control"
       th:field="*{phoneNumber}"
       required>

<div class="text-danger small"
     th:if="${#fields.hasErrors('phoneNumber')}"
     th:errors="*{phoneNumber}">
</div>
</div>


<div class="mb-3">
<label>Password</label>
<input type="password" class="form-control" th:field="*{password}" required>
</div>


<div class="d-flex gap-2 mt-4">

    <button type="submit" class="btn btn-primary px-4">
        <i class="bi bi-person-plus me-1"></i>
        Add Admin
    </button>

    <a th:href="@{/airline/admin/dashboard}"
       class="btn btn-outline-secondary px-4">
        <i class="bi bi-x-circle me-1"></i>
        Cancel
    </a>

</div>


</form>

</div>

<br>
<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>